<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.goncalo.erasmusinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfileDelete"
            android:label="@string/title_activity_profile_delete"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Profile" />
        </activity>
        <activity
            android:name=".ProfileInsert"
            android:label="@string/title_activity_profile_insert"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Profile" />
        </activity>
        <activity
            android:name=".ClassEdit"
            android:label="@string/title_activity_class_edit"
            android:parentActivityName=".Class"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Class" />
        </activity>
        <activity
            android:name=".ProfileView"
            android:label="@string/title_activity_profile_view"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Profile" />
        </activity>
        <activity
            android:name=".ProfileEdit"
            android:label="@string/title_activity_profile_edit"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Profile" />
        </activity>
        <activity
            android:name=".Class"
            android:label="@string/title_activity_class"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".College"
            android:label="@string/title_activity_college"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>