<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.goncalo.erasmusinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CollegeDelete"
            android:label="@string/title_activity_college_delete"
            android:parentActivityName=".CollegeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.CollegeActivity" />
        </activity>
        <activity
            android:name=".CollegeEdit"
            android:label="@string/title_activity_college_edit"
            android:parentActivityName=".CollegeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.CollegeActivity" />
        </activity>
        <activity
            android:name=".CollegeInsert"
            android:label="@string/title_activity_college_insert"
            android:parentActivityName=".CollegeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.CollegeActivity" />
        </activity>
        <activity
            android:name=".SubjectDelete"
            android:label="@string/title_activity_subject_delete"
            android:parentActivityName=".Subject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Subject" />
        </activity>
        <activity
            android:name=".SubjectInsert"
            android:label="@string/title_activity_subject_insert"
            android:parentActivityName=".Subject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Subject" />
        </activity>
        <activity
            android:name=".ContactDelete"
            android:label="@string/title_activity_contact_delete"
            android:parentActivityName=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ContactActivity" />
        </activity>
        <activity
            android:name=".ContactEdit"
            android:label="@string/title_activity_contact_edit"
            android:parentActivityName=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ContactActivity" />
        </activity>
        <activity
            android:name=".ContactInsert"
            android:label="@string/title_activity_contact_insert"
            android:parentActivityName=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ContactActivity" />
        </activity>
        <activity
            android:name=".ContactView"
            android:label="@string/title_activity_contact_view"
            android:parentActivityName=".ContactActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ContactActivity" />
        </activity>
        <activity
            android:name=".ProfileDelete"
            android:label="@string/title_activity_profile_delete"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ProfileActivity" />
        </activity>
        <activity
            android:name=".ProfileInsert"
            android:label="@string/title_activity_profile_insert"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ProfileActivity" />
        </activity>
        <activity
            android:name=".SubjectEdit"
            android:label="@string/title_activity_subject_edit"
            android:parentActivityName=".Subject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.Subject" />
        </activity>
        <activity
            android:name=".ProfileView"
            android:label="@string/title_activity_profile_view"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ProfileActivity" />
        </activity>
        <activity
            android:name=".ProfileEdit"
            android:label="@string/title_activity_profile_edit"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.ProfileActivity" />
        </activity>
        <activity
            android:name=".Subject"
            android:label="@string/title_activity_subject"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".CollegeActivity"
            android:label="@string/title_activity_college"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.goncalo.erasmusinfo.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="pt.goncalo.erasmusinfo"
            android:name=".ErasmusInfoContentProvider"
            android:exported="false" />
    </application>

</manifest>